{{> "systems/xprpg/templates/system/actions/repair/item-heading-partial.hbs"}}
<div class="xprpg chat-card" data-item-uuid="{{item.uuid}}">
    <p>
        <strong>{{localize "XPRPG.Actions.Repair.Labels.Hardness"}}</strong>
        {{numberFormat item.system.hardness decimals=0 sign=false}}
    </p>
    {{#if (gt damage.dealt 0)}}
    {{> "systems/xprpg/templates/system/actions/repair/chat-button-partial.hbs" result="damage" value=damage.rolled label=(localize "XPRPG.Actions.Repair.Labels.DealItemDamage" value=damage.dealt)}}
    {{else}}
    <p>{{localize "XPRPG.Actions.Repair.Labels.DamageMitigatedByHardness"}}</p>
    {{/if}}
</div>
