<div class="hover-content manage-tabs">
    <ul>
        <li class="item">
            <label>{{localize "XPRPG.TabCharacterLabel"}}</label>
            <input type="checkbox" data-tab-name="character" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabActionsLabel"}}</label>
            <input type="checkbox" data-tab-name="actions" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabInventoryLabel"}}</label>
            <input type="checkbox" data-tab-name="inventory" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabSpellbookLabel"}}</label>
            <input type="checkbox" data-tab-name="spellcasting" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabCraftingLabel"}}</label>
            <input type="checkbox" data-tab-name="crafting" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabSkillsLabel"}}</label>
            <input type="checkbox" data-tab-name="proficiencies" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabFeatsLabel"}}</label>
            <input type="checkbox" data-tab-name="feats" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabEffectsLabel"}}</label>
            <input type="checkbox" data-tab-name="effects" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.Biography"}}</label>
            <input type="checkbox" data-tab-name="biography" />
        </li>
        <li class="item">
            <label>{{localize "XPRPG.TabXenosParagonSociety"}}</label>
            <input type="checkbox" data-tab-name="xps" />
        </li>
    </ul>
</div>
