<div class="pc pc_gender">
    <label class="details-label" for="{{options.id}}-pc-gender">{{localize "XPRPG.GenderPronoun"}}</label>
    <input type="text" class="details-input" title="{{localize "XPRPG.GenderPronounTitle"}}" id="{{options.id}}-pc-gender" name="system.details.gender.value" value="{{data.details.gender.value}}" />
</div>
<div class="pc pc_age">
    <label class="details-label" for="{{options.id}}-pc-age">{{localize "XPRPG.Age"}}</label>
    <input type="text" class="details-input" title="{{localize "XPRPG.AgeTitle"}}" id="{{options.id}}-pc-age" name="system.details.age.value" value="{{data.details.age.value}}" />
</div>
<div class="pc pc_height">
    <label class="details-label" for="{{options.id}}-pc-height">{{localize "XPRPG.Height"}}</label>
    <input type="text" class="details-input" title="{{localize "XPRPG.HeightTitle"}}" id="{{options.id}}-pc-height" name="system.details.height.value" value="{{data.details.height.value}}" />
</div>
<div class="pc pc_weight">
    <label class="details-label" for="{{options.id}}-pc-weight">{{localize "XPRPG.Weight"}}</label>
    <input type="text" class="details-input" title="{{localize "XPRPG.WeightTitle"}}" id="{{options.id}}-pc-weight" name="system.details.weight.value" value="{{data.details.weight.value}}" />
</div>
<div class="pc pc_ethnicity">
    <label class="details-label" for="{{options.id}}-pc-ethnicity">{{localize "XPRPG.Ethnicity"}}</label>
    <input type="text" class="details-input" id="{{options.id}}-pc-ethnicity" name="system.details.ethnicity.value" value="{{data.details.ethnicity.value}}" />
</div>
<div class="pc pc_nationality">
    <label class="details-label" for="{{options.id}}-pc-nationality">{{localize "XPRPG.Nationality"}}</label>
    <input type="text" class="details-input" id="{{options.id}}-pc-nationality" name="system.details.nationality.value" value="{{data.details.nationality.value}}" />
</div>
