<form class="{{cssClass}}" autocomplete="off">
    <!-- SIDEBAR -->
    {{> "systems/xprpg/templates/actors/loot/sidebar.hbs"}}

    <section class="content">
        <!-- HEADER -->
        <div class="sheet-header">
            {{#if owner}}
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "XPRPG.loot.LootNamePlaceholder"}}" />
                </h1>
            {{else}}
                <h1 class="charname">{{actor.name}}</h1>
            {{/if}}
            <section class="sheet-type traits-bar">
                {{#if user.isGM}}
                    <i class="fas fa-info-circle help" title="<p><strong>{{localize "XPRPG.loot.LootLabel"}}</strong>: {{localize "XPRPG.loot.LootDescription"}}</p><p><strong>{{localize "XPRPG.loot.MerchantLabel"}}</strong>: {{localize "XPRPG.loot.MerchantDescription"}}</p>"></i>
                    <select name="system.lootSheetType" class="trait">
                        {{#select data.lootSheetType}}
                            <option value="Loot">{{localize "XPRPG.loot.LootLabel"}}</option>
                            <option value="Merchant">{{localize "XPRPG.loot.MerchantLabel"}}</option>
                        {{/select}}
                    </select>
                {{else}}
                    <span class="trait">{{data.lootSheetType}}</span>
                {{/if}}
            </section>
        </div>

        <!-- BODY -->
        {{> "systems/xprpg/templates/actors/loot/inventory.hbs"}}
    </section>

</form>
